*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  font-family: system-ui, sans-serif;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

@media (pointer: fine) {
  * {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 0.5em;
    background: hsl(0 0% var(--lightness) / 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(0 0% var(--lightness) / 0.7);
    border-radius: 0.5em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% var(--lightness) / 0.8);
  }
}

body {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto 1fr 1fr;
}

body::before,
body::after {
  content: '';
}

header {
  padding: 1rem;
}

main {
  align-self: start;
  display: grid;
  gap: 0.75rem;
  place-content: center;
  place-items: center;
}

.logo {
  font-style: italic;
  font-weight: 500;
}
