.media-controls {
  display: flex;
  gap: 0.25rem;
}

.playback-rate {
  display: inline-grid;
  place-items: center;
  font-size: 0.9rem;
}

.media-slider-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.media-slider-wrapper > :first-child,
.media-slider-wrapper > :last-child {
  color: hsl(var(--fg-hsl) / 0.7);
}

.media-slider-wrapper > .slider {
  width: min(400px, calc(90vw - 15ch));
}

.progress-thumb {
  border-radius: 2px;
  width: 0.25rem;
  height: 2rem;
  background: var(--accent-color);
}

.button-bar {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  max-width: 75vw;
}

.clipboard-status {
  font-style: italic;
}
