.media-controls {
  display: flex;
  gap: 0.25rem;
}

.slider-container {
  display: grid;
  margin: 1rem auto;
}

/**
 * sliders need to overlap to fake the impression that it's a single slider.
 * this is a workaround needed because react aria does not allow thumbs to "cross" each other.
 */
.slider-container > * {
  grid-area: 1 / -1;
}

.clip-thumb {
  z-index: 2;
  border-radius: 2px;
  background: var(--accent-color);
}

.progress-thumb {
  z-index: 1;
  width: 2px;
  height: 2rem;
  background: hsl(var(--fg-hsl) / 0.7);
}

/* always show the output "tooltip" and move it above the thumb to avoid collision */
.progress-thumb > output {
  opacity: 1;
  background: transparent;
  transform: translateY(-100%);
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

form {
  margin-top: 1rem;
}

.error {
  font-style: italic;
  color: hsl(var(--fg-hsl) / 0.7);
}
