h2 {
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 90vw;
  white-space: pre-line;
  text-align: center;
}

h2::first-line {
  font-size: 1.4rem;
}

.slider-container {
  display: grid;
}

/**
 * sliders need to overlap to fake the impression that it's a single slider.
 * this is a workaround needed because react aria does not allow thumbs to "cross" each other.
 */
.slider-container > * {
  grid-area: 1 / -1;
}

.clip-thumb {
  border-radius: 2px;
  background: var(--accent-color);
}

.progress-thumb {
  width: 2px;
  height: 2rem;
  background: hsl(var(--fg-hsl) / 0.7);
}

/* always show the output "tooltip" and move it above the thumb to avoid collision */
.progress-thumb > output {
  opacity: 1;
  background: transparent;
  transform: translateY(-100%);
}

.clip-action {
  all: unset;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
}

.clip-action-content {
  position: absolute;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background: var(--accent-color);
  color: white;
  transition: transform 0.2s;
  will-change: transform;
}

.clip-action:hover .clip-action-content {
  transform: translate(-50%, -2px);
}

.clip-action:focus-visible .clip-action-content {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.clip-action.loading .clip-action-content {
  background: hsl(0 0% 50% / 0.25);
  opacity: 0.7;
  transform: none;
  cursor: wait;
}

.clip-action.loading::after {
  content: '';
  position: absolute;
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.2em solid;
  animation: loading 1s ease-in-out infinite;
  --loader-color: hsl(0 0% 50%);
  border-color: var(--loader-color) var(--loader-color) transparent transparent;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.play-pause-button {
  all: unset;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: transform 0.2s ease-out;
  border-radius: 50%;
  margin: 0.5rem;
}

.play-pause-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
  background: hsl(0 0% 50% / 0.1);
}

.play-pause-button > svg {
  width: 1.5rem;
  height: 1.5rem;
}
